.target-name {
  height: 245px;
  width: 447px;
  background-image: url("./images/bg-card-front.png");
}

.target-cvc {
  height: 245px;
  width: 447px;
  background-image: url("./images/bg-card-back.png");
}

.container {
  display: flex;
  justify-content: column;
  align-items: space-around;
}
